//mediaqueries//
@media (min-width:768px)and (max-width:1023px){

    .card{        
       display: flex;

       a{
        margin: 0g;
       }
    }
    .card-container{
        flex-direction: column;
        

    }
}

@media (min-width:320px) and (max-width:767px){
    .card{        
        display: flex;
        
    a{
        margin: 0;
    }
    
     }
     .card-container{
         flex-direction: column;
 
     }

    .box{
      display: flex;
      width: 80%;
      justify-content: center;

     .box-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            text-align: center;
        }

        .footer-container{
            width: 20%;
        }
        
}
}
}
